#contacto{
    background-color: $gris;
    color: $blanco;
    display: flex;
    flex-direction: column;
    padding-top: 130px;


    .seccion__titulo:after{
        content: "";
        background:$blanco;
    }
    h3{
        text-transform: uppercase;
        // text-align: center;
        margin: 4% 0 1.5% 0;
    }
    form{
        margin: 0 10%;
        display: flex;
        justify-content: center;
        .email{
            width: 35vw;
            padding: 10px;
            border: 0px;
            outline: none;
            background-color: #212529;
            color:$blanco;

        }
        .subscribir{

            padding: 10px;
            background-color: #000;
            color: #fff;
            border: 0px;
            outline: none;
            position: relative;

            
        }
    }


    .contacto__social{
         font-size: 45px;
        vertical-align: center;
        display: flex;
        justify-content: space-evenly;
        margin: 5% 20%;
        span{

            a{
                text-decoration: none;
                color:#212529;

            }
            a:hover{
                color:$blanco;
                transition: 1s;
            }
        }
        
    }
    
    
    .contacto__logo{

        display: flex;
           justify-content: center;
       div{
           width: 300px;
           display: block;

           img{
               width: 100%;
               display: block;
               position: relative;
               top: -40px;
           }
       }
    }
}